@model CoffeXO.Controllers.MyListsForMain
@{
    ViewData["Title"] = "Главная";
 }
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <style>

            /* Make the image fully responsive */
            .carousel-inner img {
                width: 100%;
                height: 100%;
            }
        </style>
    </head>

<body>
    <div class="all">
        <h1 style="text-align:center; font-size:60px;" class="text-shadow-1">Coffee X.O.</h1>


        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">

                @for (int i = 0; i < Model.Photos.Count; i++)
                {
                    var className = i == 0 ? "active" : "";
                    <li data-target="#demo" data-slide-to="@i" class="@className"></li>
                }
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">

                @for (int i = 0; i < Model.Photos.Count; i++)
                {
                    
                     var className = i == 0? "active" : "";

                <div class="carousel-item @className">
                    <img src="@Model.Photos[i].ImgSrc" width="1100" height="500">
                </div>    
                    
                }

            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>


        <h1 class="text-shadow-1" style="text-align:center">О нас</h1>

        <p><b class="text">Какой-то текст, который потом придумаем. Тут планируется что-то типа о самом кафе.</b></p>

        <h1 class="text-shadow-1" style="text-align:center">Меню</h1>
        <div class="menu">
            <table class="table" style="width:auto">

                <tr class="table-danger">
                    <th>Позиция</th>
                    <th>Цена</th>
                </tr>
                @foreach (var d in Model.Dishes)
                {
                    <tr class="table-warning">
                        <td>@d.Name</td>

                        @if (d.Sale == true)
                        {
                            <td>@d.Price&#8381;   <span class="badge badge-danger">@d.Percent&#37;</span></td>
                        }
                        else
                        {
                            <td>@d.Price&#8381;</td>
                        }
                    </tr>
                }

            </table>
        </div>
        <em>Мы в инстаграмме:</em>
        <p></p>
        <a href="https://www.instagram.com/"><img class="insta" src="https://free-png.ru/wp-content/uploads/2019/05/znachok-Instagram-t.png" /></a>
    </div>
</body>



<style>
    .menu{
        text-align:center;
    }
    .text {font-size:22px;}
    .insta{width:80px}
    .all{
        height:auto;
        background: indianred;
        width:auto;
    }
    .text-shadow {
        text-shadow: 1px 1px 0 orange,1px -1px 0 orange,-1px 1px 0 orange,-1px -1px 0 orange;
        color: white;
        transition: all 1s;
        text-shadow: 1px 1px 0 tan,1px -1px 0 tan,-1px 1px 0 tan,-1px -1px 0 tan;
        color: white;
    }

    .text-shadow-1 {
        background: indianred;
        color: wheat;
        text-shadow: -2px -2px 0 #4D4644, 2px -2px 0 #4D4644, -2px 2px 0 #4D4644, 2px 2px 0 #4D4644, 4px 4px 0 white, 5px 5px 0 white, 6px 6px 0 white;
        letter-spacing: 0.1em;
    }
</style>



